<div class="banner">
  <div class="banner-inner">
    <div class="banner-text-wrap">
      <h2 class="banner-text">
        Building Healthy Futures <br />
        For Every Child
      </h2>
    </div>
    <div class="banner-grid-img">
      <div class="banner-img first">
        <img src="/assets/img/nurse.jpg" alt="weighing" />
      </div>
      <div class="banner-img second">
        <img src="/assets/img/weigh.jpg" alt="nurse " />
      </div>
      <div class="banner-img third">
        <img src="/assets/img/immunization.jpg" alt="immunization " />
      </div>
      <div class="banner-img fourth">
        <img src="/assets/img/health_nutrition.jpg" alt="home stats " />
      </div>
      <div class="banner-img fifth">
        <img src="/assets/img/home_stats.jpg" alt="health nutrition " />
      </div>
    </div>
  </div>
</div>
