/* #region reset */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

*,
*:focus,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  outline: none;
  color: inherit;
  text-decoration: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* #endregion reset */

/* #region variable */
:root {
  --font-title: "Cormorant", serif;
  --color-title: #000;
  --color-text: #111;
  --color-link: #0066c0;
  --bg-button: #ffd814;
  --bg-button-hover: #f7ca00;
  --bg-accent: #549280;
}

/* #endregion variable */

/* #region font register */
@font-face {
  font-family: "Amazon Ember";
  src: url("public/assets/fonts/AmazonEmber-Regular.woff2") format("woff2"),
    url("public/assets/fonts/AmazonEmber-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("public/assets/fonts/AmazonEmber-Medium.woff2") format("woff2"),
    url("public/assets/fonts/AmazonEmber-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amazon Ember";
  src: url("public/assets/fonts/AmazonEmber-Bold.woff2") format("woff2"),
    url("public/assets/fonts/AmazonEmber-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* #endregion font register*/

/* #region global */
body {
  font-family: "Amazon Ember";
  font-weight: normal;
}

.logo {
  font-family: var(--font-title);
  font-size: 80px;
  color: var(--color-title);
  font-weight: 500;
}

.logo.vvld {
  text-align: center;
  margin: 10px 0;
}
/* #endregion gloabal */

/* #region text title with line */
.region-properties-container .properties-title {
  position: relative;
  padding: 38px 0 34px;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: var(--font-title);
}

.region-properties-container .properties-title::before {
  content: "";
  position: absolute;
  background: #6e6e6e;
  width: calc(36% - 10px);
  height: 1px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.region-properties-container .properties-title::after {
  content: "";
  position: absolute;
  background: #6e6e6e;
  width: calc(36% - 10px);
  height: 1px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

/* #endregion text title with line */

/* .vvld-form-group .checkbox {
  display: flex;
  align-items: center;
}
.vvld-form-group .checkbox input {
  width: auto;
  margin-right: 5px;
}
.vvld-form-group .checkbox label {
  margin: 0;
} */

/* #region vvld form */
.vvld-box-inner {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vvld-title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 14px;
  padding-bottom: 4px;
}
.vvld-box {
  margin-bottom: 26px;
}
.vvld-box-inner {
  max-width: 350px;
  margin: auto;
  padding: 14px 18px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
}

.vvld-text {
  margin: 25px 0;
  font-size: 12px;
  line-height: 1.5;
}

.vvld-text.lst {
  margin-bottom: 0;
}

hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

.vvld-form-group {
  margin-bottom: 19px;
}
.vvld-form-group.lst {
  margin-bottom: 15px;
}

.vvld-form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 700;
}

.vvld-form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
  border-radius: 3px;
  height: 31px;
  transition: all 0.25s ease-in-out;
}

.vvld-form-group input:focus {
  background-color: #f7feff;
  border-color: #007185;
  box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset;
}
.global-btn {
  width: 100%;
  padding: 6px 1px;
  font-size: 13px;
  background-color: var(--bg-button);
  border: 1px solid var(--bg-button);
  cursor: pointer;
  line-height: 19px;
  border-radius: 8px;
}
.global-btn:hover {
  background-color: var(--bg-button-hover);
}

/* #endregion vvld form */

/* #region vvld footer */
.vvld-footer-inner {
  position: relative;
}
.vvld-footer-inner::before,
.vvld-footer-inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 96%;
  transform: translateX(-50%);
}
.vvld-footer-inner::before {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  height: 144px;
}
.vvld-footer-inner::after {
  border: 1px solid #ccc;
}
.vvld-footer-logo {
  display: flex;
  justify-content: center;
}
.vvld-footer-logo img {
  max-width: 300px;
  margin-left: 45px;
}
/* #endregion vvld footer */

/* #region donate */
.d-tag-container {
  display: flex;
  justify-content: center;
}
.d-tag {
  font-family: var(--font-title);
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin: 40px 0;
  position: relative;
}
.d-tag::before,
.d-tag::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.d-tag::before {
  left: -161px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.d-tag::after {
  right: -161px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.img-container {
  height: 400px;
}

.d-text {
  text-align: center;
  max-width: 50ch;
  margin: 0 auto;
  line-height: 1.4;
  font-size: 20px;
}
/* #endregion donate */

/* #region banner */
.banner-inner {
  display: flex;
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  overflow: hidden;
  max-height: 690px;
  position: relative;
}

.banner-text-wrap,
.banner-grid-img {
  flex: 0 0 50%;
  max-width: 50%;
}
.banner-text-wrap {
  margin-top: 96px;
}
.banner-text {
  font-size: 55px;
  font-family: var(--font-title);
  font-weight: 500;
  line-height: 1.24;
  padding-right: 50px;
}
.banner-grid-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  grid-template-rows: repeat(5, 150px);
  gap: 15px;
  margin-top: -150px;
  position: relative;
}
.banner-grid-img::before,
.banner-grid-img::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1;
  background: linear-gradient(0deg, rgba(1, 0, 2, 0), #fff);
}
.banner-grid-img::before {
  top: 150px;
}
.banner-grid-img::after {
  bottom: 0;
  background: linear-gradient(180deg, rgba(1, 0, 2, 0), #fff);
}
.banner-img.first {
  grid-column: 1;
  grid-row: span 2;
}
.banner-img.second {
  grid-column: 2;
  grid-row: 2/ 4;
}
.banner-img.third {
  grid-column: 1;
  grid-row: span 2;
}
.banner-img.fourth {
  grid-column: 2;
  grid-row: span 2;
}
.banner-img.fifth {
  grid-column: 1;
  grid-row: span 2;
}
.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.banner-grid-img .tall {
  grid-row: span 2;
}

.banner-grid-img .taller {
  grid-row: span 3;
}

@media only screen and (max-width: 767px) {
  .banner-inner {
    flex-direction: column;
    align-items: center;
  }
  .banner-text-wrap,
  .banner-grid-img {
    flex: initial;
    max-width: 100%;
  }
  .banner-grid-img {
    margin-top: 0;
    max-width: 380px;
    grid-auto-rows: 100px;
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
  }
  .banner-img img {
    border-radius: 7px;
  }
  .banner-text {
    font-size: 45px;
    text-align: center;
    padding-right: 0;
  }
  .banner-grid-img::before {
    top: 0;
  }
}
/* #endregion banner */

/* #region User Profile */
.user-card-wrap {
  background: #37424c url(public/assets/img/dots_bg.png) repeat scroll 0 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.user-profile-container {
  display: grid;
  grid-template-columns: 33% 67%;
  gap: 30px;
  margin: 0 auto;
  padding: 30px;
}
@media (min-width: 992px) {
  .user-profile-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .user-profile-container {
    width: 1170px;
  }
}

@media (max-width: 1599px) {
  .user-profile-container {
    max-width: 1030px;
  }
}

.user-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  background: #424d56;
  top: -45px;
  right: 15px;
  position: absolute;
  border-radius: 50%;
}

.user-logo img {
  margin-top: 14px;
  width: 80px;
}
.username-nickname {
  font-size: 21px;
  margin-bottom: 16px;
}
.user-info {
  padding: 20px 15px 15px;
  position: relative;
  color: #fff;
}

.user-card {
  background: url(public/assets/img/user_ava_bg.png) repeat-x scroll 0 100%;
  border: 1px solid rgb(68, 82, 95);
  overflow: hidden;
}
.user-avatar {
  max-height: 485px;
  overflow: hidden;
}

/*  */
.user-info table {
  width: 100%;
}
.user-info table tr {
  border-bottom: 1px solid #424d56;
}
.user-info table tr:last-child {
  border-bottom: 0;
}
.user-info table tr td {
  font-size: 12px;
  width: 50%;
  padding: 4px 0;
}

.user-info td img {
  width: 16px;
  height: auto;
}

.user-info .question {
  opacity: 0.6;
  cursor: pointer;
}
.user-info .question:hover {
  opacity: 1;
}

.user-info .tooltip-text {
  pointer-events: none;
}

.t-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.user-info table tr td .gray {
  color: #a1a9b3;
  font-size: 0.9em;
}
.user-info table tr td .tip {
  margin-top: 2px;
}

.user-info .question {
  width: 12px;
  font-size: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.user-info .u_icon {
  position: relative;
}
/* #endregion User Profile */

/* #region feature home */
.feature-home-item {
  display: grid;
  gap: 40px 20px;
  margin: 120px 0;
}
.feature-home-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 20px;
}
@media screen and (min-width: 768px) {
  .feature-home-item {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-home-item:nth-of-type(2n) .feature-content {
    order: 2;
  }
}

.feature-icon-container {
  background: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.feature-icon-container span {
  color: var(--bg-accent);
  font-size: 22px;
}
.feature-head {
  font-size: 27px;
  font-weight: 600;
  margin: 10px 0;
  line-height: 1.3;
}

.feature-text {
  margin: 0 0 18px 0;
  font-size: 18px;
  line-height: 1.5;
}
/* #endregion feature home */
