<div class="donate-wrapper">
  <div class="donate-inner">
    <div class="donate-icon">
      <img src="/assets/img/giving-charity.svg" alt="charity logo" />
    </div>
    <div class="donate-text">
      <h2>Your support holds great power – donate today!</h2>
      <p>
        Join us in pioneering research and innovative care that are transforming
        child health and eradicating malnutrition and preventable diseases.
      </p>
    </div>
    <div class="donate-btn">
      <a routerLink="/donate" class="global-btn">Donate</a>
    </div>
  </div>
</div>
